body{
margin:0;
font-family:Arial;
background:#f5f5f5;
text-align:center;
}

.dark{
background:#121212;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
background:white;
position:sticky;
top:0;
}

.logo{
width:45px;
}

.search{
padding:10px;
border-radius:20px;
border:1px solid #ddd;
width:60%;
}

.darkBtn{
background:#e63946;
color:white;
border:none;
padding:10px;
border-radius:10px;
}

.offer{
background:#e63946;
color:white;
padding:8px;
font-weight:bold;
}

.hero{
overflow:hidden;
background:white;
}

.hero-track{
display:flex;
animation:slide 9s infinite;
}

.hero-card{
min-width:100%;
padding:14px;
background:#ffe8a3;
font-weight:bold;
}

@keyframes slide{
0%{transform:translateX(0)}
33%{transform:translateX(-100%)}
66%{transform:translateX(-200%)}
}

.menu{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:20px;
}

.card{
background:white;
padding:15px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.card img{
width:100%;
border-radius:10px;
}

button{
background:#e63946;
color:white;
border:none;
padding:10px 15px;
border-radius:8px;
margin-top:10px;
}

.cart{
background:white;
padding:20px;
margin:20px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

input{
padding:10px;
margin:6px;
border-radius:6px;
border:1px solid #ddd;
width:80%;
}

#map{
display:none;
height:300px;
margin:20px;
border-radius:10px;
}

.success{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.3);
display:none;
font-size:22px;
}

.live-order{
position:fixed;
bottom:70px;
left:50%;
transform:translateX(-50%);
background:black;
color:white;
padding:10px 15px;
border-radius:20px;
font-size:13px;
}

nav{
position:fixed;
bottom:0;
width:100%;
background:white;
display:flex;
justify-content:space-around;
padding:12px;
box-shadow:0 -5px 20px rgba(0,0,0,0.2);
}
